{{ define "hero"}}
  <section class="hero is-info">
      <div class="hero-head">
          <div class="container">
              <nav class="nav">
              </nav>
          </div>
      </div>
      <div class="hero-body">
          <div class="container">
              <h1 class="title">
                Secretary
              </h1>
              <h2 class="subtitle">
                The Task Scheduler <i>you</i> need.
              </h2>
          </div>
      </div>
      <div class="hero-foot">
          <div class="container">
              <nav class="tabs is-boxed">
                  <ul>
                      <li {{ if eq .page "Management" }} class="is-active" {{ end }}>
                          <a href="#">Management</a>
                      </li>
                      <li>
                        <a href="#" onclick="{{ .page = 'Contact' }}">Contact</a>
                      </li>
                  </ul>
              </nav>
          </div>
      </div>
  </section>
  {{ end }}
